body {
    background-color: #E8E8E8;
}

#vision-board {
    width: 1200px;
    height: 900px;
    margin: 50px auto; 
	overflow: auto;
	background: url('../img/vision-board-background-four.png');
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

p {
    color: white;
    font-weight: 600;
    margin: 0 auto;
    padding-left: 15px;
}

.block mark {
    background: #dcd0ba;
    color: white;
} 

.block {
    float: left;
	box-sizing: border-box;
    width: 400px;
}

.smaller-block {
    height: 250px;
    padding: 100px 0 0 50px;
}

.smallest-block {
    height: 250px;
    padding: 100px 30px;
}

.bigger-block {
    height: 400px; 
    padding: 110px 20px;
}

.right {
    text-align: right; 
}

.center {
    text-align: center;
}

h1 {
    color: white;
    font-weight: semi-bold; 
}

h1 span {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Prompt', sans-serif;
    margin: 0 auto;
    font-size: 30px;
    padding-left: 15px;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    letter-spacing: 7px;
}
p strong {
    text-transform: capitalize; 
    font-size: 30px;
    font-weight: 400;
}

